
/*Variables*/
:root {
  /*Colors:*/
  --primary-color: #fffdfb;
  --secondary-color: #000000;

  --primary-headline-color: rgba(243, 79, 33, 0.705);
  --secondary-headline-color: #565656;

  --primary-container-color: #FCEDEA;
  --secondary-container-color: #f85f36;
  
  --button-color: #F5F5F5;

  --primary-button-hover-color: #94b647;
  --secondary-button-hover-color: #b2cee5;
  --tertiary-button-hover-color: #ffba1d; 
 
  --icon-color: #a09d9d;
  
  --icon-hover-color: #000000;   

  /*fonts */
  --primary-font-family: 'Karla', sans-serif;
  --secondary-font-family: 'Karla', sans-serif
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --swiper-navigation-color: #ffffff!important;
  --swiper-pagination-color:  #ffffff!important;
}

/* SCROLL BAR */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* MENU */
@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);

.sidebar {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 193px;
  z-index: 1;
  right: -100%;
  background-color: #222222;
  transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
}

.sidebar.active { 
  transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.bar {
  display: block;
  height: 3px;
  width: 30px;
  background-color: white;
}

.bar-text {
  display: block;
  width: 50px;
/*   margin: auto; */
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
  display: inline-block;
  width: auto;
/*   -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease; */
  background: transparent;
  border: none;
  position: relative;
  padding: 10px 15px;
}

.nav-right {
  right: 0;
  background: #222222;
  width: 100%;
  display: flex;
  justify-content: flex-end;
/*   box-shadow: 7px 7px 19px 0px rgba(0,0,0,0.50); */
}

.nav-right.visible-xs {
  z-index: 3;
}

.hidden-xs {
  display: none;
}

.middle {
  margin: 0 auto;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s  ease-in-out;
}

.top {
  margin: 10px auto 0 auto;
}

.bottom {
  margin: 0 auto 10px auto;
}

.top-mobile {
  margin: 5px auto;
}

.top-small {
  margin: 0 auto;
}

.bottom-small {
  margin: 0 auto;
}

.bottom-mobile {
  margin: 5px auto;
}

.bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.nav-right.visible-xs .active .bar {
  background-color: #FFF;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.button.active .top, .button.active .top-mobile  {
  -webkit-transform: translateY(8px) rotateZ(45deg);
  -moz-transform: translateY(8px) rotateZ(45deg);
  -ms-transform: translateY(8px) rotateZ(45deg);
  -o-transform: translateY(8px) rotateZ(45deg);
  transform: translateY(8px) rotateZ(45deg);
}

.button.active .bottom, .button.active .bottom-mobile {
  -webkit-transform: translateY(-8px) rotateZ(-45deg);
  -moz-transform: translateY(-8px) rotateZ(-45deg);
  -ms-transform: translateY(-8px) rotateZ(-45deg);
  -o-transform: translateY(-8px) rotateZ(-45deg);
  transform: translateY(-8px) rotateZ(-45deg);
}

.button.active .middle {
  opacity: 0;
}

.move-to-left {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

nav {
/*   padding-top: 30px; */
}

.sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 46px;
}

.sidebar-item {
  margin: 20px 0;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}

.sidebar-item:first-child {
  -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;
}

.sidebar-item:nth-child(2) {
  -webkit-transition: all .7s .4s ease-in-out;
  -moz-transition: all .7s .4s ease-in-out;
  -ms-transition: all .7s .4s ease-in-out;
  -o-transition: all .7s .4s ease-in-out;
  transition: all .7s .4s ease-in-out;
}

.sidebar-item:nth-child(3) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item:nth-child(4) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item:nth-child(5) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item:nth-child(6) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item:last-child {
  -webkit-transition: all .7s .8s ease-in-out;
  -moz-transition: all .7s .8s ease-in-out;
  -ms-transition: all .7s .8s ease-in-out;
  -o-transition: all .7s .8s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.sidebar-anchor {
  color: #FFF;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 7px;
  font-family: 'Arimo', sans-serif;
}

.sidebar-anchor:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.sidebar-anchor:hover:before {
  width: 100%;
}

.ua {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.underline {
  font-weight: 500;
  color: white;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
}

.underline:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: -5px;
  left: 0;
}